%p Completed processing for general conference at #{@url}
%p Videos added: #{@newVideos}
%p Videos updated: #{@updatedVideos}
%p Skipped videos because nothing to add/update: #{@skippedVideos}
- if @failedVideos.any?
  %p
  %p There were #{@failedVideos.count} videos failed to process. Check server logs for more details:
  - @failedVideos.each do |vid|
    %p= vid