%p Completed processing topics for General Conference
- if @failedTopics.any?
  %h2 The following topics failed to process. See site logs for more information:
  %ul
  - @failedTopics.each do |topic|
    %li= topic[:name]
%h2 Topics processed:
- @successfulTopics.each do |topic|
  %h3= topic[:name]
  - results = topic[:category_save_results]
  - if results[:category_added]
    %p This topic was newly added
  - else
    %p This topic was already in our database
  %p= "Topic was newly associated with #{results[:new_associations_video_id].size} videos"
  - if results[:failure_urls].any?
    %p.bold The following videos failed to associate with this topic because they aren't in our database. See site logs for more information.
    %ul
    - results[:failure_urls].each do |url|
      %li
        %a{ href: url}
          =url