.col-12
  %h4 SIGN UP
.col-12.col-md-6.offset-md-3.mb-5
  = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "new_user needs-validation", :novalidate => true }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :first_name, "First Name"
      = f.text_field :first_name, autofocus: true, :class => "form-control", :required => true
    .form-group
      = f.label :last_name, "Last Name"
      = f.text_field :last_name, :class => "form-control", :required => true
    .form-group
      %div
        = f.label :dob, "Birth Year"
      = f.date_select(:dob, { start_year: 1918, end_year: 2015, discard_day: true, discard_month: true, default: { month: 1, day: 1, year: 2000}, prompt: { year: "-- Year --" }}, {:class => "form-control", :style => "float: left; margin-bottom: 1rem;", :required => true})
    .form-group
      = f.label :zip, "Zip Code"
      = f.text_field :zip, :class => "form-control", :required => true
    .form-group
      = f.label :gender, "Gender"
      = f.select :gender, options_for_select(User.gender_ddl_options), {:include_blank => "---Select---"}, { :class => "custom-select", required: true }
    .form-group
      = f.label :church_affiliation, "Church Affiliation"
      = f.select :church_affiliation, options_for_select(User.church_affiliation_ddl_options), {:include_blank => "---Select---"}, { :class => "custom-select" }
    .form-group
      = f.label :email
      = f.email_field :email, autocomplete: "email", :class => "form-control", :required => true
      .invalid-feedback A valid email address is required.
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "#{@minimum_password_length} characters minimum", :required => :true
    .form-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :required => :true
    .actions
      = f.submit "Sign up", :class => "btn btn-primary"
  = render "devise/shared/links"