$(".comments").prepend("<%= escape_javascript(render partial: 'videos/comment', locals: {comment: @comment} ) %>");
$("textarea#comment_body").val("");
$("form#new_comment").removeClass("was-validated");