$(".replies-append-here").append("<%= escape_javascript(render partial: 'videos/comment', locals: {comment: @comment} ) %>");
$("textarea#comment_body").val("");
$("form#new_comment").removeClass("was-validated");
$(".replies-append-here").removeClass("replies-append-here");