- if @results[:errors].any?
  .alert.alert-danger{ :role => "alert" }
    - @results[:errors].each do |err|
      %p= err
- else
  .alert.alert-success{ :role => "alert" }
    %p= "Processing started for: #{@results[:url]}"
    %p= "You will be emailed at #{current_user.email} once the results are available"