$("#crawl-results").html("<%= escape_javascript(render partial: 'crawl_results', locals: {results: @results} ) %>");
$("input#conference_url").val("");
$("form#crawl_page").removeClass("was-validated");