.col-12
  %h4 ADMIN INTERFACE
.col-8
  %h5 CRAWL VIDEOS
  = form_tag("admin/crawl_page", :method => "POST", :remote => true, :class => "needs-validation", :novalidate => true, :id => "crawl_page") do |f|
    = hidden_field_tag :page_type, "conference"
    = label_tag "url", "Add/update videos from a General Conference via URL:"
    .input-group
      = text_field_tag "url", "", class: "form-control", :required => true
      %button.input-group-addon.btn.btn-primary= "SUBMIT"
      .invalid-feedback URL is required
    %small.form-text.text-muted= "Include the full URL in the form of: https://www.lds.org/general-conference/2018/10?lang=eng"
    #crawl-results
  %h5 CRAWL CATEGORIES
  = form_tag("admin/crawl_categories", :method => "POST", :remote => true, :id => "crawl_categories") do |f|
    %button.btn.btn-primary= "CRAWL CATEGORIES"
  %hr
  %h5 UPDATE "ABOUT US" PAGE
  = form_tag("admin/update_about", :method => "POST", :remote => true) do |f|
    = hidden_field_tag :nope, "testing"
    .input-group
      = text_area_tag "about", @site_data.about_us, class: "form-control", rows: 10
      = submit_tag "SUBMIT", class: "input-group-addon btn btn-primary", data: {disable_with: "..."}
.col-4
  %h5 SITE STATS
  %p= "Active video count: #{@video_count_active}"
  %p= "Inactive video count: #{@videos_inactive.count()}"
  %p= "Featured video count: #{@videos_featured.count()}"
  %p= "Number of users: #{@user_count}"
  %p= "Number of comments: #{@comment_count}"
  %p= "Number of ratings: #{@rating_count}"
.col-12
  %hr
  .row
    .col-6
      %h5 INACTIVE VIDEOS
      - @videos_inactive.each do |vid|
        %p= link_to vid.title, vid
    .col-6
      %h5 FEATURED VIDEOS
      %p (Note that inactive videos cannot be featured)
      - @videos_featured.each do |vid|
        %p= link_to vid.title, vid