.col-12
  %h4 CHANGE YOUR PASSWORD
.col-12.col-md-6.offset-md-3.mb-5
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, "New password"
      = f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "#{@minimum_password_length} characters minimum"
    .form-group
      = f.label :password_confirmation, "Confirm new password"
      = f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"
    .actions
      = f.submit "Change my password", :class => "btn btn-primary"
  = render "devise/shared/links"