.col-12
  %h4 FORGOT YOUR PASSWORD?
.col-12.col-md-6.offset-md-3.mb-5
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"
    .actions
      = f.submit "Send me reset password instructions", :class => "btn btn-primary"
  = render "devise/shared/links"