.col-12
  .card
    .card-body
      %h4.card-title= "ADMIN"
      #viewCount
        = "View count: #{@video.user_video_views.count}"
      #active
        - if @video.active?
          = "Video is active"
          = form_tag("#{@video.id}/set_active_status?active=false", method: :post, remote: true) do
            = submit_tag "Make Inactive", class: "btn btn-primary refreshAfterClick"
        - else
          = "Video is inactive"
          = form_tag("#{@video.id}/set_active_status?active=true", method: :post, remote: true) do
            = submit_tag "Make Active", class: "btn btn-primary refreshAfterClick"
      - if @video.active?
        #featured
          - if @video.featured?
            = "Video is featured"
            = form_tag("#{@video.id}/set_featured_status?featured=false", method: :post, remote: true) do
              = submit_tag "Remove Featured", class: "btn btn-primary refreshAfterClick"
          - else
            = "Video is not featured"
            = form_tag("#{@video.id}/set_featured_status?featured=true", method: :post, remote: true) do
              = submit_tag "Make Featured", class: "btn btn-primary refreshAfterClick"

:javascript
  $(document).ready(function() {
    $(".refreshAfterClick").on("click", function() {
      setTimeout(function() {
        location.reload();
      }, 500);
    });
  });