.row.video-comments-section
  .col-12
    %h4 COMMENTS
  .col-12
    - if user_signed_in?
      = form_for [@video, @new_comment], :remote => true, html: { method: :post, :class => "needs-validation", :novalidate => true} do |f|
        = f.hidden_field :user_id, value: current_user.id
        .input-group
          = f.text_area :body, :class => "form-control", :placeholder => "Leave a comment...", :style => "resize: none;", :required => true, disable_with: "..."
          = f.submit "SUBMIT", class: "input-group-addon btn btn-primary comment-submit", data: {disable_with: "..."}
          .invalid-feedback You must enter some text to leave a comment!
      %br
    - else
      = link_to("Sign up", new_user_registration_path) + " or " + link_to("sign in", new_user_session_path) + " to comment"
  .col-12.comments
    - @video.comments.each do |c|
      = render partial: "comment", object: c, as: :comment
    - unless @video.comments.any?
      %p There doesn't appear to be any comments yet...