.comment
  .head
    %span.name.font-weight-bold= comment.user.public_name
    %span.age= (time_ago_in_words(comment.created_at) + " ago").upcase
  .body= comment.body
  - if user_signed_in? && (current_user.id == comment.user_id || current_user.admin?)
    = link_to "Delete", comment, :method => :delete, :remote => true, :class => "delete-comment"
    - unless comment.is_sub_comment?
      |
  - unless comment.is_sub_comment?
    %a.reply-link{ href: "#"} Reply
    .replies-wrapper
      .replies
        - comment.sub_comments.each do |sc|
          = render partial: "comment", object: sc, as: :comment
      .reply-form
        - if user_signed_in? && !comment.is_sub_comment?
          = form_for [@video, @new_comment], :remote => true, html: { method: :post, :class => "needs-validation", :novalidate => true } do |f|
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :parent_id, value: comment.id
            .input-group
              = f.text_area :body, :class => "form-control", :placeholder => "Leave a reply...", :style => "resize: none;", :required => true
              = f.submit "SUBMIT", class: "input-group-addon btn btn-primary comment-submit comment-reply", data: {disable_with: "..."}
              .invalid-feedback You must enter some text to reply!


:javascript
  $("a.delete-comment").click(function() {
    $(this).parents(".comment").first().slideUp("slow", function(){});
  });

  $(".comment-reply").click(function() {
    $(this).parents(".replies-wrapper").first().find(".replies").addClass("replies-append-here");
  });

  $(".reply-link").click(function(e) {
    e.preventDefault();
    var form = $(this).siblings(".replies-wrapper").find(".reply-form")
    form.slideDown("fast", function() {});
    form.find("#comment_body").focus();
  });