%table
  %tr
    %td.stars
      - if @video.ratings.any?
        - starValue = 1
        - (@video.average_rating.floor).times do |i|
          %i.mi.md-36.star(value=starValue) star
          - starValue = starValue + 1
        - if (@video.average_rating % 1.0) >= 0.5
          %i.mi.md-36.star(value=starValue) star_half
          - starValue = starValue + 1
        - elsif (@video.average_rating % 1.0) > 0.0
          %i.mi.md-36.star(value=starValue) star_border
          - starValue = starValue + 1
        - (5 - @video.average_rating.ceil).times do |i|
          %i.mi.md-36.star(value=starValue) star_border
          - starValue = starValue + 1
      - else
        - 5.times do |i|
          - starValue = i+1
          %i.mi.md-36.star(value=starValue) star_border
    %td.rating-text
      - if @video.ratings.any?
        = "#{@video.average_rating.round(1)}/5 - #{pluralize(@video.ratings.count, 'rating')}"
      - else
        No ratings yet.
  %tr
    %td{:colspan => 2}
      - if user_signed_in?
        = form_for [@video, @rating], :remote => true do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :value, value: 4
          %button.btn.btn-primary.d-none#new_rating_button= "SUBMIT"
      - else
        = link_to("Sign up", new_user_registration_path) + " or " + link_to("sign in", new_user_session_path) + " to rate videos"

:javascript
  var initialStarHtml = [];
  $(document).ready(function() {
    for (var i = 1; i <= 5; i++) {
      initialStarHtml[i] = $("i.star[value=" + i + "]").html();
    }
    $("i.star").hover(
    function() { // mouseenter
      var hoveredStarValue = $(this).attr("value");
      for (var i = 1; i <= hoveredStarValue; i++) {
        $("i.star[value=" + i + "]").html("star");
      }
      ++hoveredStarValue;
      for (var i = hoveredStarValue; i <= 5; i++) {
        $("i.star[value=" + i + "]").html("star_border");
      }
    },
    function() { // mouseleave
      for (var i = 1; i <= 5; i++) {
        $("i.star[value=" + i + "]").html(initialStarHtml[i]);
      }
    });

    $("i.star").click(function() {
      $("#rating_value").val($(this).attr("value"));
      $("#new_rating_button").click();
    });
  });