.video
  = link_to video_url(video) do
    = image_tag (video.image? ? video.image : 'image_placeholder.png'), :class => "img-fluid"
    .video-inner
      .title
        = video.title
      %hr
      / %table.duration
      /   %td.time-icon
      /     %i.mi.md-18 access_time
      /   %td.time-text
      /     = "3:15"
      .rating
        - if video.ratings.any?
          .stars
            - starValue = 1
            - (video.average_rating.floor).times do |i|
              %i.mi.md-18.star(value=starValue) star
              - starValue = starValue + 1
            - if (video.average_rating % 1.0) >= 0.5
              %i.mi.md-18.star(value=starValue) star_half
              - starValue = starValue + 1
            - elsif (video.average_rating % 1.0) > 0.0
              %i.mi.md-18.star(value=starValue) star_border
              - starValue = starValue + 1
            - (5 - video.average_rating.ceil).times do |i|
              %i.mi.md-18.star(value=starValue) star_border
              - starValue = starValue + 1
        - else
          .nostars
            No ratings yet
      .author
        = video.author
      .date
        = video.date_friendly