.col-12.d-md-none
  = render partial: "home/filter"
.col-12
  %h4.home-section-title
    - if @video_filter.any_filters?
      %span.blue FILTERED
    - else
      %span.blue SAMPLE
    TALKS
.col-12.home-section-title-under
  .spacer-line
.col-12.col-md-9
  .row
    - @videos.each do |vid|
      .col-12.col-sm-6.col-lg-3{ :style => "margin-bottom: 35px;" }
        = render partial: "videos/video_home", object: vid, as: :video
    - unless @videos.any?
      .col-12
        %p We weren't able to find any videos based on your search criteria.
        %p Try removing some filters to find what you're looking for.
.col-12.col-md-3.d-none.d-md-flex
  = render partial: "home/filter"