.col-sm-12.col-md-9#video-show
  .row
    .col-12
      %h4= @video.title.upcase
    .col-12
      = link_to @video.url, target: "_blank", id: "video_click_link" do
        = image_tag (@video.image? ? @video.image : 'image_placeholder.png'), :class => "img-fluid video-preview"
        .play-button-overlay
          = image_tag("play-button.png")
        .video-overlay.author
          %h3= @video.author.upcase
        / .video-overlay.duration
        /   %h3
        /     %i.mi access_time
        /     3:15
    .col-12.col-lg-8.rating
      = render partial: "rating"
    .d-none.d-lg-block.col-lg-4.date.text-right
      .date-margin
        = @video.date_friendly
    .d-lg-none.col-12.date
      = @video.date_friendly
    .col-12.mb-5
      - @video.categories.each do |c|
        = link_to c.name, "/videos?topic=#{c.id}", :class => "badge badge-secondary"
    / .col-12.transcript
    /   %p= @video.transcript
  = render partial: "comments"
.col-sm-12.col-md-3#related-videos
  .row
    - if user_signed_in? && current_user.admin?
      = render partial: "admin"
    .col-12
      %h4= "RELATED VIDEOS"
    - @video.related_videos.each do |vid|
      .col-12
        = render partial: "videos/video_home", object: vid, as: :video
        %br
#video_form_container
  = form_tag("#{@video.id}/user_click", method: :post, :remote => true, :id => "video_click_form")

:javascript
  $("a#video_click_link").click(function() {
    $("#video_click_form").trigger("submit.rails");
  });