#homeCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#homeCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#homeCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#homeCarousel"}
    %li{"data-slide-to" => "3", "data-target" => "#homeCarousel"}
  .carousel-inner
    .carousel-item.active
      = image_tag "home-carousel-6-web.jpg", :class => "d-block w-100", :alt => "First slide"
      .carousel-caption.d-none.d-md-block
        %h5 Find Your Potential.
        %p Join Best Church Talks to find the ideas and inspiration you need for yourself and those you serve.
    .carousel-item
      = image_tag "home-carousel-5-web.jpg", :class => "d-block w-100", :alt => "Second slide"
      .carousel-caption.d-none.d-md-block
        %h5 Get Inspired.
        %p Join Best Church Talks to find the ideas and inspiration you need for yourself and those you serve.
    .carousel-item
      = image_tag "home-carousel-7-web.jpg", :class => "d-block w-100", :alt => "Third slide"
      .carousel-caption.d-none.d-md-block
        %h5 Join The Community.
        %p Join Best Church Talks to find the ideas and inspiration you need for yourself and those you serve.
    .carousel-item
      = image_tag "home-carousel-3-web.jpg", :class => "d-block w-100", :alt => "Third slide"
      .carousel-caption.d-none.d-md-block
        %h5 Give Back.
        %p Join Best Church Talks to find the ideas and inspiration you need for yourself and those you serve.
    %a.carousel-control-prev{"data-slide" => "prev", :href => "#homeCarousel", :role => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", :href => "#homeCarousel", :role => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Next
%br
%br