.home-filter
  .filter-header
    FIND A TALK
  .filter-filters
    = form_tag(videos_path, :method => "GET") do
      = label_tag "rating", "Rating:"
      = select_tag "rating", options_for_select(@ddl_rating_options, @video_filter.rating), include_blank: "---Any---", class: "custom-select"
      = label_tag "title", "Title:"
      = text_field_tag "title", @video_filter.title, class: "form-control"
      = label_tag "author", "Speaker:"
      = text_field_tag "author", @video_filter.author, class: "form-control"
      = label_tag "date", "Date:"
      = select_tag "date", options_for_select(@ddl_date_options, @video_filter.date), include_blank: "---Any---", class: "custom-select"
      = label_tag "topic", "Topic:"
      = select_tag "topic", options_for_select(@categories.collect {|c| [ c['name'], c['id'] ] }, @video_filter.topic), include_blank: "---Any---", class: "custom-select"
      / = label_tag "gender", "Gender:" / target demographic gender filter
      / = select_tag "gender", "<option>Male</option><option>Female</option><option>Other</option>".html_safe, include_blank: "---Any---", class: "custom-select"
      / = label_tag "venue", "Venue:" / conference/category of video. TODO: Need to capture.
      / = select_tag "venue", "<option>Male</option><option>Female</option><option>Other</option>".html_safe, include_blank: "---Any---", class: "custom-select"
      / = label_tag "length", "Length:"
      / = select_tag "length", options_for_select(@ddl_length_options, @video_filter.length), include_blank: "---Any---", class: "custom-select"
      / = label_tag "gender", "Review Age Range:" / this is like 'target demographic' age filter
      / = select_tag "gender", "<option>Male</option><option>Female</option><option>Other</option>".html_safe, include_blank: "---Any---", class: "custom-select"
      = submit_tag "SEARCH", :class => "btn btn-primary"