.container-fluid
  .row.quick-links
    .container
      .row
        .col-12
          %h5 QUICK LINKS
          %hr
        .col-3
          = link_to("General Conference", "https://www.lds.org/general-conference/conferences")
          %br
          = link_to("Church News", "https://www.lds.org/church/news")
          %br
          = link_to("Find a Meetinghouse", "https://www.lds.org/maps/meetinghouses/")
        .col-3
          = link_to("Mormon Newsroom", "https://www.mormonnewsroom.org/")
          %br
          = link_to("Teaching in the Savior's Way", "https://www.lds.org/manual/teaching-in-the-saviors-way")
        .col-3
          = link_to("Ministering", "https://www.lds.org/ministering")
          %br
          = link_to("Upcoming Church Events", "https://www.lds.org/church/events/archive/events")
        .col-3
          = link_to("Come, Follow Me Resources", "https://www.lds.org/manual/come-follow-me")
          %br
          = link_to("FamilySearch.org", "https://www.familysearch.org/en/")
.container
  .row.footer
    .col-12.footer-site-links
      %p.text-center
        - if user_signed_in?
          = link_to "MY ACCOUNT", edit_user_registration_path
          %span.spacer= "|"
          = link_to "SIGN OUT", destroy_user_session_path, { :method => :delete }
          %span.spacer= "|"
        - else
          = link_to "SIGN UP", new_user_registration_path
          %span.spacer= "|"
          = link_to "SIGN IN", new_user_session_path
          %span.spacer= "|"
        = link_to("ABOUT US", "/about")
        %span.spacer= "|"
        = link_to("CONTACT", "/about")
    .col-12.social-media-links.text-center
      = image_tag("social-media-links.png")
    .col-8.offset-2
      %hr
    .col-12.text-center.copyright
      = "Copyright #{Time.current.year} Best Church Talks. All rights reserved."