.col-sm-7
  %h4 ABOUT BEST CHURCH TALKS
  #about-us
    = simple_format(@about_us_text)

.col-sm-5
  %h4 CONTACT
  = form_tag('about', :method => "POST") do
    .form-group
      = label_tag "name", "Name"
      = text_field_tag "name", @name, :class => "form-control", :required => true
    .form-group
      = label_tag "email", "Email"
      = email_field_tag "email", @email, :class => "form-control", :required => true
    .form-group
      = label_tag "message", "How can we help?"
      = text_area_tag "message", "", :class => "form-control", :required => true, rows: 6
    = submit_tag "SUBMIT", :class => "btn btn-primary"
    %br
    %br