- content_for :carousel do
  = render partial: "carousel"
.col-12
  %h4.home-section-title
    %span.blue FEATURED
    TALKS
.col-12.home-section-title-under
  .spacer-line
.col-12.col-md-9
  .row.videos-row
    .col-12
    - @featured_talks.each do |vid|
      .col-12.col-sm-6.col-lg-3
        = render partial: "videos/video_home", object: vid, as: :video
  .row.videos-row.d-none.d-md-flex
    .col-12
      %h4.home-section-title
        %span.blue MOST
        RECENT
    .col-12.home-section-title-under
      .spacer-line
    - @recent_talks.each do |vid|
      .col-12.col-md-6.col-lg-3
        = render partial: "videos/video_home", object: vid, as: :video
  .row.videos-row.d-none.d-md-flex
    .col-12
      %h4.home-section-title
        %span.blue MOST
        POPULAR
    .col-12.home-section-title-under
      .spacer-line
    - @popular_talks.each do |vid|
      .col-12.col-md-6.col-lg-3
        = render partial: "videos/video_home", object: vid, as: :video
.col-12.col-md-3
  = render partial: "filter"

:javascript
  // carousel activate
  $('.carousel').carousel();