.col-12
  %h4 SIGN IN
.col-12.col-md-6.offset-md-3.mb-5
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control"
    .form-group
      = f.label :password
      = f.password_field :password, autocomplete: "off", :class => "form-control"
    - if devise_mapping.rememberable?
      .form-group
        .form-check
          = f.check_box :remember_me, :class => "form-check-input"
          = f.label :remember_me, :class => "form-check-label"
    .actions
      = f.submit "Sign in", :class => "btn btn-primary"
  = render "devise/shared/links"