/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$color-main-blue: #3D4D71;

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 600;
}

a.nav-link {
	color: #4F4F4F;
	text-decoration: none;
	font-size: .8rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active {
	background-color: $color-main-blue;
	border-color: $color-main-blue;
}

button.navbar-toggler {
	background-color: $color-main-blue;
	color: white;
}

.navbar-brand {
	img {
		max-width: 500px;
	}
}