$color-main-blue: #3D4D71;

h4.home-section-title {
	span.blue {
		color: $color-main-blue;
	}
}

.home-section-title-under {
	margin-bottom: 20px;

	.spacer-line {
		border-bottom: 2px solid #888888;
		width: 65px;
	}	
}

.videos-row {
	margin-bottom: 30px;
}

.video {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.10);
	margin-bottom: 30px;

	img {
		width: 100%;
		height: 110px;
		object-fit: cover;
	}

	.video-inner {
		padding: 10px;
		color: $color-main-blue;
		font-weight: 600;

		.title {
			text-transform: uppercase;
			color: black;
			height: 45px;
			font-size: .9rem;
			font-weight: 601;

			/* truncates the text */
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		hr {
			margin: .5rem 0 .5rem 0;
		}

		.duration {
			color: black;
			td.time-icon {
				padding-right: 4px;
			}
			td.time-text {
				padding-bottom: 7px;
			}
		}

		.rating {
			.stars {
				color: #FED404;
			}
			.nostars {
				font-size: .7rem;
				line-height: 1.5rem;
			}
		}

		.author {
			text-transform: uppercase;
			font-size: .7rem;
		}

		.date {
			font-size: .7rem;
		}
	}
}

.home-filter {
	.filter-header {
		margin-bottom: 15px;
		text-align: center;
		background: $color-main-blue;
		color: white;
		padding: 10px;
		font-size: 1.2rem;
		font-weight: 600;
	}

	.filter-filters {
		color: $color-main-blue;
		font-weight: 600;

		label {
			margin-bottom: 0;
		}

		select, input {
			margin-bottom: 15px;
			width: 100%;
		}
	}
}

.row.quick-links {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 50px;
	background: $color-main-blue;
	color: white;

	a {
		color: white;
		text-decoration: none;
	}
}

.row.footer {
	margin-bottom: 50px;

	.footer-site-links {
		a {
			color: $color-main-blue;
			font-weight: 600;
		}
		span.spacer {
			margin-left: 20px;
			margin-right: 20px;
			color: $color-main-blue;
		}
	}

	.copyright {
		font-size: .8rem;
	}
}