#video-show {
	img.video-preview {
		width: 100%;
	}
	.video-overlay {
		position: absolute;
		color: white;
		bottom: 0px;
		padding: 20px;
	}
	.video-overlay.duration {
		right: 0px;
		padding-right: 45px;
	}
	.play-button-overlay {
		position: absolute;
		top: 0;

		img {
			height: 100px;
		}
	}
	.rating {
		td {
			padding-right: 10px;
		}
		td.stars {
			color: #FED404;
			cursor: pointer;
		}		
		td.rating-text {
			font-weight: bold;
		}
	}

	.date {
		font-weight: bold;
		.date-margin {
			margin-top: 10px;
		}
	}
}

#related-videos {
	margin-bottom: 40px;
}

.video-comments-section {
	margin-bottom: 40px;
	.comment {
		.head .age {
			font-size: .7em;
			padding-left: 15px;
		}

		.replies-wrapper {
			margin-left: 30px;

			.reply-form {
				display: none;
			}
		}
	}

	span.comment-submit {
		padding-top: 18px;
		padding-bottom: 18px;
	}
}