%p
  Welcome to Best Church Talks, #{@resource.first_name}!
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
