%p
  Hello #{@resource.first_name}!
- if @resource.try(:unconfirmed_email?)
  %p
    We're contacting you to notify you that your email for your account on Best Church Talks is being changed to #{@resource.unconfirmed_email}.
- else
  %p
    We're contacting you to notify you that your email for your account on Best Church Talks has been changed to #{@resource.email}.
