!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Best Church Talks
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = render 'layouts/google_analytics'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon.ico')
  %body
    %header
      .container
        %nav.navbar.navbar-expand-lg
          %a.navbar-brand{:href => "/"}
            = image_tag("logo3.png")
          %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
            %i.material-icons menu
            / %span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              - if user_signed_in?
                - if current_user.admin?
                  %li.nav-item
                    = link_to "ADMIN", "/admin", { :class => "nav-link" }
                %li.nav-item
                  = link_to "MY ACCOUNT", edit_user_registration_path, { :class => "nav-link" }
                %li.nav-item
                  = link_to "SIGN OUT", destroy_user_session_path, { :class => "nav-link", :method => :delete }
              - else
                %li.nav-item
                  = link_to "REGISTER TO JOIN OUR COMMUNITY", new_user_registration_path, { :class => "nav-link" }
                %li.nav-item
                  = link_to "SIGN IN", new_user_session_path, { :class => "nav-link" }
              %li.nav-item
                %a.nav-link{:href => "/about"} ABOUT US
    = yield :carousel
    .container#main-body-container
      .row
        .alert.alert-info.col-12{:role => "alert", :style => "display: none"}
          = notice
        .alert.alert-danger.col-12{:role => "alert", :style => "display: none"}
          = alert
      .row
        = yield
    = render partial: "home/footer"

:javascript
  $(document).ready(function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = $(".needs-validation");
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });

    // show alert divs if there are any messages to show
    $(".alert").each(function() {
      if($(this).html().trim() != '') {
        $(this).show();
      }
    })
  });